---
import DownloadPage from '../components/DownloadPage.jsx';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yomikata</title>
  </head>
  <body>
    <DownloadPage />
  </body>
</html>
